.navbar-header a.navbar-brand {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}

.topband {
  height: 85px;
  background-color: #ED1B2C;
}

.topband_h1 {
  color: #ffffff;
  font-size: 3em;
}

.nav-strip {
    height:20px;
    background-color: #f6f0f0;
}
